/* Styles for screens with a maximum width of 600px*/
@media (max-width: 600px) {
    header {
        /* background-color: red; */
        padding: 10px;
    }

    .logo {
        font-size: 2em;
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }

    .navigation a {
        font-size: 0.6em;
    }

    #text {
        font-size: 2.1em;
    }

    .parallax img#santa {
        width: 100px;
    }

    .parallax img#home {
        width: 200px;
    }

    .parallax #snow-floor {
        bottom: -30px;
    }

    .img {
        display: none;
    }

    .sec {
        flex-direction: column;
    }

    #descText, .third-section-text {
        font-size: 0.5em;
    }

    #button{
        width: 200px;
    }
    #button h5{
        transform: translateY(-25px);
        font-size: 14px;
    }

    footer .links a, .copy-right{
        font-size: 11px;
    }
}

/* Styles for screens with a minimum width of 601px and a maximum width of 1024px */
@media (min-width: 600px) and (max-width: 900px) {
    header {
        /* background-color: green; */
        padding: 20px;
    }

    .logo {
        font-size: 2.3em;
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }

    .navigation a {
        font-size: 0.7em;
    }

    #text {
        font-size: 2.3em;
    }

    .parallax img#santa {
        width: 150px;
    }

    .parallax img#home {
        width: 250px;
        transform: scaleX(-1);
    }

    .parallax #snow-floor {
        bottom: -80px;
    }

    .img {
        display: none;
    }


    .sec {
        flex-direction: column;
    }
    #descText ,.third-section-text {
        font-size: 0.7em;
    }

    #button{
        width: 200px;
    }
    #button h5{
        transform: translateY(-25px);
        font-size: 14px;
    }
    footer .links a, .copy-right{
        font-size: 11px;
    }
}

/* Styles for screens with a minimum width of 601px and a maximum width of 1024px */
@media (min-width: 901px) and (max-width: 1200px) {
    header {
        /* background-color: yellow; */
    }

    .logo {
        font-size: 3em;
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }

    .navigation a {
        font-size: 0.9em;
    }

    #text {
        font-size: 2.5em;
    }

    .parallax img#santa {
        width: 150px;
    }

    .parallax img#home {
        width: 250px;
        z-index: 2;
    }

    .parallax #snow-floor {
        bottom: -90px;
    }

    .sec {
        flex-direction: column;
    }
}

@media (min-width: 1201px) {
    header {
        /* background-color: rgb(235, 82, 176); */
    }

    .parallax img#santa {
        width: 200px;
    }

    .parallax img#home {
        width: 300px;
        z-index: 2;
    }

    .parallax #snow-floor {
        bottom: -100px;
    }
}