@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: #5f64a5;
}  

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-size: 3em;
    color: #000;
    user-select: none;
    position: sticky;
    top: 0;
}

.navigation {
    display: flex;
}
.navigation a {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
    border-radius: 30px;
    position: sticky;
    top: 0;
}
.navigation a:hover, 
.navigation a.active
{
    color: #fff;
    background-color: #000;
}
.navigation a:hover span , 
.navigation a.active span {
    transform: scale(1);
    opacity: 1;
}

.hearo {
    height: 100%;
    color: #000000;
    display: block;
    background-image:  url('../images/hero-section/background.png') ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/hero-section/background-2.png');
    transform: translateY(-77px);
}

#text {
    position: absolute;
    font-size: 3.1em;
    color: #1b283a;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.parallax img {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.parallax img#santa {
    margin-bottom: 200px;
    transform: translateY(440px);
    width: 150px;
    z-index: 3;

}

.parallax img#home {
    position: fixed;
    transform: translateX(1400px) translateY(250px) ;
    width: 400px;
    z-index: 2;
}


/* ---------- Section - 2 ---------------- */

.fade{
    position: absolute;
    z-index: 1;
    transform: translateY(-20px);
    
    width: 100vw;
    color: #d2e8ff;
}

/* ---------- Section - 2 ---------------- */
.sec {
    position: relative;
    background-image: url("../images/about-sec/parket_2.jpg");
    background-size: 100px;
    background-repeat: repeat;
    background-color: #441316;
    padding: 30px 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
    padding-top: 65vh;
    background-attachment: fixed;
    height: 150vh;

}
.text {
    font-size: 1.2em;
    color: #fff;
    font-weight:100;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10%;
    transform-style: preserve-3d;
    transition: transform 0.05s linear;
    transform: translateY(-50px);
    position: relative;
    top: 100px;
}
.sec .text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.wrap {

    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;
}

.content {
    --rX: 0deg;
    --rY: 0deg;
    transform: rotateX(var(--rX)) rotateY(var(--rY));
    transition: 0.2s;
    background-color: #fff;
    border-radius: 50px;

}
.content img {
    object-fit: cover;
    border-radius: 50px;
}

.fade-2{
    position: absolute;
    z-index: 1;
    transform: translateY(-200px);
    width: 100vw;
}





/* ---------------- section - 3 ----------- */

 h3 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
    color: #0e112e;
    font-size: 4em;
}
.cta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(255,141,0);
    background: radial-gradient(circle, #fee68c 20%, rgba(255,185,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(100px at center center);
    z-index: -1;
}
.innerText {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 10vw;
    color: #fff;
    text-align: center;
    width: 100%;
    left: 100%;
}

.text2 {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 2px #0e112e;
    left: 100%;
    text-align: center;
    width: 100%;
}

.container {
    position: relative;
    margin-top: 130vh;
    
    background-color: #2e205e;
    color: #fff;
}
.container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;

}
#bats{
    position: absolute;
    z-index: 2;
    transform: translateX(750px) translateY(-400px);
    z-index: -1;
}
#grass{
    transform: translateY(-200px);
    position: absolute;
}
.third-section-text{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#button{
    text-align: center;
    width: 500px;
    margin: auto;
    cursor: pointer;
}
#button h5{
    z-index: 2;
    position: relative;
    transform: translateY(-55px);
    color: #000;
    font-size: 24px;
}


/* ------------------------------------------------------------ */


footer {
    height: 20vh;
    
}
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
footer .links {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}
footer .links a {
    position: relative;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
    border-radius: 30px;
    position: sticky;
    top: 0;
}
.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
}

footer{
    background-color: #5f64a5;
    border-top: #fff 2px solid ;
    background-attachment: fixed;
    height: 250px;
}

footer .media .media-links img {
    width: 30px;
    height: 30px;
}
hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.copy-right{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
