@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    filter: drop-shadow(0 0 10px white);
}  

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 3em;
    color: #000;
    user-select: none;
    position: sticky;
    top: 0;
}
.navigation a {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
    border-radius: 30px;
    position: sticky;
    top: 0;
}
.navigation a:hover, 
.navigation a.active
{
    color: #fff;
    background-color: #000;
}
.navigation a:hover span , 
.navigation a.active span {
    transform: scale(1);
    opacity: 1;
}

.hearo {
    height: 100%;
    color: #000000;
    display: block;
    background-image:  url('/resources/images/hero-section/background.png') ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/resources/images/hero-section/background-2.png');
    transform: translateY(-77px);
}

#text {
    position: absolute;
    font-size: 3.1em;
    color: #1b283a;
    text-shadow: 2px 4px 5px #f9f9f9;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.parallax img {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.parallax img#santa {
    margin-bottom: 200px;
    transform: translateY(440px);
    width: 150px;
    z-index: 3;

}

.parallax img#home {
    position: fixed;
    transform: translateX(1400px) translateY(250px) ;
    width: 400px;
    z-index: 2;
}
/* ---------- Section - 2 ---------------- */

.fade{
    position: absolute;
    z-index: 1;
    transform: translateY(-20px);
    
    width: 100vw;
    color: #d2e8ff;
}

/* ---------- Section - 2 ---------------- */
.sec {
    position: relative;
    background-image: url(/resources/images/about-sec/parket_2.jpg);
    filter: brightness(70%);
    background-size: 100px;
    background-repeat: repeat;
    background-color: #441316;
    padding: 30px 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
    padding-top: 500px;

}
.text {
    font-size: 1.2em;
    color: #fff;
    font-weight:100;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10%;
    transform-style: preserve-3d;
    transition: transform 0.05s linear;
}
.sec .text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.wrap {

    transform-style: preserve-3d;
    transform: perspective(100rem);
    cursor: pointer;
}

.content {
    --rX: 0deg;
    --rY: 0deg;
    transform: rotateX(var(--rX)) rotateY(var(--rY));
    transition: 0.2s;
    background-color: #fff;
    border-radius: 50px;

}
.content img {
    object-fit: cover;
    border-radius: 50px;
}