/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */
@font-face {
    font-family: "ThaleahFat";
    src: url("../ThaleahFat.ttf");
}


@font-face {
    font-family: 'thaleahfatmedium';
    src: url('../fonts/thaleahfat-webfont.woff2') format('woff2'),
         url('../fonts/thaleahfat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: thaleahfatmedium;
}
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    filter: drop-shadow(0 0 10px white);
}  

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3em;
    color: #fff;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
    border-radius: 30px;
}
.navigation a:hover, 
.navigation a.active
{
    color: #333;
    background-color: #fff;
}
.navigation a:hover span , 
.navigation a.active span {
    transform: scale(1);
    opacity: 1;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url('/resources/images/background.png');  */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#text {
    position: absolute;
    font-size: 3.1em;
    color: #1b283a;
    text-shadow: 2px 4px 5px #f9f9f9;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.parallax img {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    pointer-events: none;
}

.parallax img#gate-left {
    margin-bottom: 200px;
    transform: translateY(250px);
    width: 300px;
}

.parallax img#gate-right {
    position: fixed;
    transform: translateX(305px);
}


.sec {
    position: relative;
    background-color: #020912;
    padding: 30px 100px;
}
.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 2em;
    color: #fff;
    font-weight: 300;
    text-align: justify;
} 
  
.color {
   width: 20%;
   height: 100%;
   float: left
}

.hearo {
    height: 100%;
    color: #000000;
    display: block;
}